/*template stylesheet for index.html*/
body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.header {
    padding: 0;
    background-color: #283593;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 3;
}

.logo {
    color: #fff;
    display: block;
    float: left;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #283593;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    transition: all 0.3s ease-out;
}

.nav li a:hover, 
.menu-btn:hover {
    color: #c5cae9;
    box-shadow: 0 -5px 0 #c5cae9 inset,
    500px 0 0 rgba(255, 255, 255, 0.03) inset;
}

.nav li {
    margin-left: 20px;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: absolute;
    right: 0;
    user-select: none;
}

.menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}
  
.menu-icon .navicon:after {
    top: -5px;
}

.menu-btn {
    display: none;
}
  
.menu-btn:checked ~ .nav {
    max-height: none;
}
  
.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
  
@media (min-width: 48em) {
    .nav li {
        float: left;
    }
    
    .nav {
      clear: none;
      float: right;
      max-height: none;
    }
    
    .menu-icon {
      display: none;
    }

}

.hero {
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}

.hero-inner {
    max-width: 760px;
}

.hero hl {
     font-weight: normal;
     font-size: 4rem;
     margin: 0;
}

.hero p {
    font-size: 1.18rem;
    line-height: 1.6;
}

.button {
    background-color: #3949ab;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block;
}

.features {
    background-color: #e8eaf6;
    padding: 60px 45px;
}

.features-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.featurer-item h3 {
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

.feature-item p {
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: .9rem;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi_bold {
    font-weight: 500;
    font-size: 16px;
}

.resume {
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
    list-style: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 22px;
    width: 800px;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.resume .resume_left {
    width: 280px;
    background: #c5cae9;
}

.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}

.resume .resume_left .resume_profile img {
    width: 100%;
    height: 100%;
}

.resume .resume_left .resume_content {
    padding: 0 25px;
}

.resume .title {
    margin-bottom: 20px;
}

.resume .resume_left .bold {
    color: #283573;
}

.resume .resume_left .regular {
    color: #283593;
}

.resume .resume_item {
    padding: 25px 0;
    border-bottom: 2px solid #283593;
}

.resume .resume_left .resume_item:last-child, 
.resume .resume_right .resume_item:last-child{
    border-bottom: 0px;
}

.resume .resume_left ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.resume .resume_left ul li:last-child,
.resume .resume_right ul li:last-child {
    margin-bottom: 0
}

.resume .resume_left ul li .icon {
    width: 35px;
    height: 35px;
    background: #e8eaf6;
    color: #283573;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.resume .resume_left ul li .data {
    color: #283593;
}

.resume .resume_left .resume_skills ul li{
    display: flex;
    margin-bottom: 10px;
    color: #283593;
    justify-content: space-between;
    align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
    width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
    width: 25%;
    margin: 0 5px;
    height: 5px;
    background: #283593;
    position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
    width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
}

.resume .resume_right {
     width: 520px;
     background: #e8eaf6;
     padding: 25px;
}

.resume .resume_right ul {
    list-style-type: none;
}

.resume .resume_right .bold {
    color: #283573;
}

.resume .resume_right .resume_work  ul,
.resume .resume_right .resume_education ul,
.resume .resume_right .resume_awards ul {
    padding-left: 40px;
    overflow: hidden;
}

.resume .resume_right ul li {
    position: relative;
}

.resume .resume_right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.resume .resume_right ul li .info {
    margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
    margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before,
.resume .resume_right .resume_awards ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #283593;
    background: #283593;;
}

.resume .resume_right .resume_education ul li:after,
.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_awards ul li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 250px;
    background: #283593;
}

.resume .resume_right .resume_hobby ul {
    display: flex;
    justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
    width: 80px;
    height: 80px;
    border: 2px solid #283593;
    border-radius: 50%;
    position: relative;
    color: #283593;
}

.resume .resume_right .resume_hobby ul li i {
    font-size: 30px;
}

.resume .resume-right .resume-hobby ul li:before {
    content: "";
    position: absolute;
    top: 40px;
    right: -52px;
    width: 50px;
    height: 2px;
    background: #283593;
}

.resume .resume-right .resume-hobby ul li:last-child:before {
    display: none;
}