<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/55711eed63.js" crossorigin="anonymous"></script>
    <link href="css/template.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body onload="funfact()">
    <div class="header">
        <a href="index.html" class="logo">MyLogo</a>
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="games.html">Games</a></li>
            <li><a href="https://github.com/Liseon617">Github</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="summary">
        <div class="summary-inner">
            <h1 style="color: #1C3645">Welcome To My Site!</h1>
            <p>An aspiring web developer with a keen interest in the field of Artificial Intelligence (AI).</p>
            <a href="contact.html" class="button">Contact Me</a>
            <p id="fun_fact">Also...</p>
        </div>
    </div>
    <div class="projects">
        <h2>Recent Projects</h2>
        <div class="projects-inner">
            <div class="project-item">
                <h3>Personal Contacts Inquiry Chatbot</h3>
                <p>Powered by Google's Dialogflow</p>
            </div>
            <div class="project-item">
                <h3> <a href="https://top.gg/bot/737604119535288350"></a>Multi-tool Discord Bot</h3>
                <p>A personal Discord Bot build with node.js and discord API</p>
            </div>
            <div class="project-item">
                <h3>Covid-19 Tracker</h3>
                <p>Data gathered through web scraping with puppeteer.js</p>
            </div>
        </div>
    </div>
    <div class="features">
        <h2>Games</h2>
        <div class="features-inner games">
            <div class="feature-item">
                <h3>Game #1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #4</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #6</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #7</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #8</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
            <div class="feature-item">
                <h3>Game #9</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quam at nostrum natus dolores dolore consequuntur error adipisci, blanditiis quaerat voluptatum nulla recusandae suscipit nisi ullam voluptates accusamus architecto sit.</p>
            </div>
        </div>
    </div>
    <section>
        <button class="btn chat-btn">
          <i class="fas fa-headset"></i>
        </button>
  
        <div class="chat-popup">
            <div style="width: 100%; text-align: center;">
                <a href="https://fontmeme.com/futuristic-fonts/">
                    <img src="https://fontmeme.com/permalink/210323/3c9939fae12e2bee0bf92e12d55ff4d1.png" alt="futuristic-fonts" border="0">
                </a> 
            </div>
          <div class="chat-area">
            <div class="incoming-msg">
              <img src="img/bot.png" class="avatar" alt="">
              <span class="bot-msg">Hi, How can I help you?</span>
            </div>
          </div>
          <div class="input-area">
            <input type="text">
            <button class="btn submit send"><i class="far fa-paper-plane"></i></button>
            <button class="btn submit mic"><i class="fas fa-microphone-alt" id="mic"></i></button>
          </div>
        </div>
    </section>
    <div class="footer">
        <p> &copy; 2021 fictional company</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src = "js/main.js"></script>
</body>
</html>